.DS_Store
app-env
*.sw[ponm]
config/options.yml
config/servers.yml
.rvmrc
.idea/
.bundle/
/db/*.sqlite3
/db/*.sqlite3-journal
/db/dump/*
/tmp
/vendor
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
log/
/tmp/*
/public/system/*
/public/uploads/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.idea
.vagrant
config/index_property.conf
config/resque_scheduler.conf
pids/unicorn.pid
.idea
deploy_workers_production.sh
account.json
*.retry
